* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title {
  text-align: center;
}

#description{
  text-align: center;
}

svg {
  background-color: #eee;
  display:grid;
  margin: 30px auto;
}

#tooltip {
  background-color: black;
  width: 120px;
  height: 100px;
  text-align: center;
  padding: 15px;
  color: white;
  position: absolute;
}

.cell:hover {
  stroke: black;
}

